@import '../../app.scss';

footer {
  max-width: 150px;
  height: 10px;
  margin-top: 20px;
  font-size: 10px;
  color: rgb(219, 151, 24);
  font-family: $mainFont;
  background-color: rgb(33, 12, 151);
}